@font-face {
    font-family: 'Archicoco Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Archicoco Regular'), url('fonts/Archicoco.woff') format('woff');
}

@font-face {
    font-family: 'Bicubik Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bicubik Regular'), url('fonts/Bicubik.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ffffff;
}

h2 {
    font-family: 'Bicubik Regular';
}

h1 {
    font-family: 'Archicoco Regular', cursive;
}

h1, h2{
    text-shadow: -1px -2px 0 #22D3EE, 1px 2px 0 #EC4899;
}

.logo {
    max-height: 50vh;
    visibility: hidden;
    position: absolute;
    z-index: -100;
    animation: desappear 5s ease-in;
    animation-delay: .1s;
}

@keyframes desappear {
    0%{visibility: visible}
    49%{visibility: visible}
    50%{visibility: hidden}
    80%{visibility: hidden}
    100%{visibility: hidden}
}

img {
    width: 200px;
}

.logo img{
    animation: bounce .8s linear;
    animation-delay: .3s;
}

.text{
    width: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: -30%;
}

.text h1 {
    font-size: 72px;
    padding-left: 20px;
    animation: pisao .5s linear;
}

@keyframes pisao{
    0% {transform: scale(2,2);}
    70% {transform: scale(0.9,0.9);}
    100% {transform: scale(1,1);}
}

.text h2 {
    font-size: 56px;
    animation: bounce .8s linear;
    animation-delay: .3s;
}

@keyframes bounce{
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.css {
    max-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: appear ease-in-out 5s;
    visibility: hidden;
    background: #000000;
}

@keyframes appear {
    0%{visibility: hidden;}
    49%{visibility: hidden;}
    50%{visibility: visible;}
 
}

.css h2 { 
    font-size: 48px;
    padding-bottom: 20px;
    animation: pisao .5s linear;
    animation-delay: 2.5s;
}

.css img {
    animation: bounce .8s linear;
    animation-delay: 2.8s;
}
